*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 40px 0 40px 0;
    color: rgb(2, 2, 2);
    padding-top: 50px;
    padding-right: 80px;
}


.borda {
    border: 2px solid ;
    border-radius: 30px;
    padding: 20px;


}

.registerEmployeeForm{
    justify-items: center;
}
.box {

    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box form{
    gap: 20px;
    width: 80%;
    max-width: 400px;
    padding: 20px;

}
input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 0 15px 0 15px;
   background-color: lightyellow;
    border-color: white;
    color: black;
}

button{
    width: 150px;
    height: 45px;
    border-radius: 30px;
}
button:hover {
    background-color: #006edc;
}
