<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <script src="/JS/scriptLogin.js" defer></script>
    <title>Tela de Login</title>
</head>
<body>
<div class="box">
    <h1>Login</h1>
    <div>
        <form action="" class="borda">
            <input type="text" class="username" nome="username" placeholder="username">
            <input type="password" class="password" nome="password" placeholder="password">
            <button type="button" onclick="window.location.href = '/crud/index';">Entrar</button>
            <button type="button" onclick="window.location.href = '/crud/register';">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>