<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" data-bs-theme="dark" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/CSS/navForm.css" rel="stylesheet">
    <link href="/CSS/form.css" rel="stylesheet">


    <script src="/JS/scriptLogin.js" defer></script>

    <title>Login - NewStack</title>
</head>

<body>
<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/home" class="navbar-logo">New<span>Stack</span></a>

            <div class="navbarform">
                <ul>
                    <li><a href="/home">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </div>
            <ul>
                <li>
                    <button class="register-btn" onclick="window.location.href = '/clients/register'">Cadastro</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="login-page">
    <div class="login-container">
        <h2>Faça Login</h2>
        <p>Bem-vindo de volta!</p>

<!--        <form th:action="@{/v1/auth}" method="POST">-->
        <form action="/v1/home" method="POST">
            <div class="input-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="CPF" placeholder="000.000.000-00"  required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" class="password" name="password" placeholder="********" required>
                <input type="checkbox" onclick=" Ipassword.type = this.checked ? 'text' : 'password'">
            </div>
            <div class="options">
                <div class="remember-me">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Lembrar-me</label>
                </div>
            </div>
            <button type="submit" class="submit-btn">Entrar</button>
        </form>

        <p class="register-link">Não tem uma conta? <a href="/clients/register">Cadastre-se</a></p>
    </div>
</main>
</body>

</html>