<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" data-bs-theme="dark" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/CSS/navForm.css" rel="stylesheet">
    <link href="/CSS/form.css" rel="stylesheet">

    <script src="/JS/scriptCadastro.js" defer></script>

    <title>Cadastro - NewStack</title>
</head>

<body>
<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/home" class="navbar-logo">New<span>Stack</span></a>

            <div class="navbarform">
                <ul>
                    <li><a href="/home">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </div>
            <ul>
                <li>
                    <button class="register-btn" onclick="window.location.href = '/v1/login'">Login</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="login-page">
    <div class="login-container">
        <h2>Criar Conta</h2>
        <p>Junte-se à nossa comunidade!</p>

        <form action="/clients/register" method="POST" class="login-form" id="registerEmployeeForm">
            <div class="input-group">
                <label for="name">Nome Completo</label>
                <input type="text" id="name" name="name" placeholder="Seu nome" required>
            </div>
            <div class="input-group">
                <label for="cpf">CPF</label>
                <input type="text" id="CPF" name="CPF" placeholder="000.000.000-00" title="Por favor, insira um CPF válido (ex: 000.000.000-00)" required oninput="maskCPF(this.CPF)">
            </div>
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="seu@email.com" required>
            </div>
            <div class="input-group">
                <label for="telephone">Telefone</label>
                <input type="tel" id="telephone" name="telephone" placeholder="(XX) XXXXX-XXXX" title="Por favor, insira um telefone válido (ex: (XX) XXXXX-XXXX)" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="********" required>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="********" required>
            </div>

            <button type="submit" class="submit-btn">Cadastrar</button>
        </form>

        <p class="register-link">Já tem uma conta? <a href="/v1/login">Faça Login</a></p>
    </div>
</main>
</body>

</html>